/* Base */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: black;
  color: #ffffff;
}

/* layout */
.page {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

#background-layer {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

#background-layer video,
#background-layer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  /* Search */

.search-area{
  flex-shrink: 0;
  padding: 0px;
  margin: 15px auto;
}

.search-panel{
  display: flex;
  padding:0 8px;
}

.search-panel form{
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-panel select{
  width: 100px;
}

.search-panel input{
  width: 220px;

}

.search-toggle button{
  width:70px;
}

.search-button button{
  width:45px;
}

  /* Bookmark */

.Bookmark-area {
  flex: 1;
  overflow-y: auto;
  padding: 0px;
  margin: 15px auto;

}

.bookmark-panel{
  display: flex;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(80px, 1fr)
  );
  padding:8px;
}

.bookmark-item{
  padding: 6px  12px;
  margin:  0 auto; 
  margin-top: 4px;
  margin-bottom: 4px;
}

.bookmark-item img{
  width:40px;
  height: 40px;
  display: block; 
  margin: 0 auto;
}

  /* footer */

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer{
  display: flex;
}

.footer_name h2{
  margin-top: 16px;
  margin-bottom: 16px;
}

/* 装飾 */
/* .page {
  min-height: 100vh;
  background-image: url("../image/wallpaper/back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

/* .page::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0,0.4);
  z-index: -1;
} */

.search-panel{
  height: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.search-panel input,
.search-panel select,
.search-panel button {
  height: 40px;
  color:#ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bookmark-panel{
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bookmark-item{
  height: auto;
  /* background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.bookmark-item a{
  text-decoration: none;
  font-size:12px;
  color:#ffffff;
}

.bookmark-item img{
  border-radius: 5px;
}

/* footer{
  background-color: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: none;
} */

/* 動的装飾 */

.search-panel input:hover,
.search-panel select:hover,
.search-panel button:hover{
  background-color: rgba(255,255,255,0.1);
  transition: background-color 0.25s;
  cursor: pointer;
}

.bookmark-item:hover {
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  transition: background-color 0.25s;
  cursor: pointer;
}

/* 制御クラス */
.hidden-search{
    display: none;
}

label{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}